#content h1{
	margin-bottom: 40px;
}
#content span{
	
}
.fakeimg{
	margin-top: -40px;
	
	z-index: 2;
}
.border{
	border: 2px solid #eee;
	border-radius: 40px;
}
.opertate{
	display: inline-block;
	border: 2px solid #eee;
	padding: 10px;
	border-radius: 20px;
	font-size: 150%;
	width: 100%;
	margin-top: 40px;
}
.big-box{
	margin-top: 40px;
}
.box p{
	border:2px solid #eee;
	margin-top: 20px;
	border-radius: 20px;

	
}